*{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
html,body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #d5ff40;}

nav{
    color: black;
   
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
}
nav h2  {
    font-size: 60px;
}
nav .part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
nav a:hover{
    background-color:black;
    color: #d5ff40;
    border-style: dotted;

}
nav a{
    font-size: 25px;
    color: black;
    text-decoration: none;
    font-weight: 500;
}

section .title1{
    background-color: red;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top:60px ;
    padding-left: 100px;
}
section .title1 h1{
    font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 150px;
}

nav .part2{
    position: absolute;
    right: 0;
    padding-right: 30px;
}

section{
    padding: 10px 50px;
}
section .videos{
    background-color: black;
    height: 100px;
    width: 300px;
    border-radius: 100px;
    padding-right: 50px;
}

section .title2{
    display: flex;

}
section .title2 h1{
     font-size: 150px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 150px;
}
section .title2 .para{
    font-size: 20px;
    
    width: 150px;
}